@include aoa-bg-series($bg__init,$classes_init);
@media all and (orientation:portrait){
    .index{
        &-s1{
            background-position-x: 40% !important;
        }
    }
    

}

.index{
    &-s1{
        background-position-x: 70%!important;
    }
}

.services{
    &-s3{
        *{
            color: #fff !important;
            text-shadow: $text__shadow;
        }
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family: "SquadaOne";
    font-weight: 100!important;
    letter-spacing: 1px;
}
nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .contact,.index{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity: 0.8;
                }
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            border: 1px solid #333;
            opacity:0.9;
        }
    }
    .services{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
        &-s1{
            background-position: right!important;
        }
    }
}